body{
    margin: auto;
}
.container{
    height: 100%;
    width: 100%;
    min-height: 100vh;
}
.blog-banner{
    float: left;
    padding-top: 15%;
    padding-right: 2%;
    width: 20vw;
    height: 100%;
    min-height: 100vh;
    background-color: #3d4f5d;
}
.banner-content{
    color: white;
}
.banner-text{
    padding-left: 10%;
}
.banner-title
{
    text-align: right;
    font-family: 'Lucida Console', sans-serif;
    font-size: xx-large;
    text-transform: uppercase;
}
.banner-description{
    text-align: right;
    font-family: 'Monaco', sans-serif;
    font-size: larger;
    opacity: 0.3;
}
.banner-button-container{
    margin-left: 2%;
    margin-top: 5%;
    float: right;
}
.banner-button{
    box-sizing: border-box;
    display: inline;
    min-height: 5ch;
    min-width: 16ch;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    border-color: white;
    background-color: #3d4f5d;
    color: white;
}
.blog-list{
    float: right;
    padding-right: 10%;
    width: 75vw;
    height: 100%;
}
.post-type{
    padding-top: 4%;
    padding-bottom: 4%;
    font-family: 'Lucida Console', sans-serif;
    color: gray;
    font-size: small;
    text-transform: uppercase;
}
.blog-heading{
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: monospace;
    font-weight: bold;
    font-size: xx-large;
}
.post-subheading{
    padding-bottom: 0%;
}
.post-author{
    display: inline-block;
    font-family: sans-serif;
    font-size: small;
}
.post-author a{
    font-family: sans-serif;
    color: dodgerblue;
    font-size: small;
}
.post-category{
    font-family: sans-serif;
    display: inline-block;
    font-size: small;
}
.category-button{
    display: inline-block;
    margin-right: 4px;
    margin-top: 0%;
    padding-top: 2px;
    border-radius: 2px;
    min-height: 2.5vh;
    text-align: center;
}
.category-button a{
    text-decoration: inherit;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.css{
    min-width: 3vw;
    background-color: limegreen;
}
.pure{
    min-width: 4vw;
    background-color: cadetblue;
}
.js{
    min-width: 6vw;
    background-color: red;
}
.author-img{
    float: right;
}
.author-img img{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.post-content{
    padding-top: 2%;
}
.post-content p{
    font-family: sans-serif;
    font-size: small;
}
.blog-content{
    text-overflow: ellipsis;
}
