.container{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
}
.navigation-container{
    padding: 1% 1%;
    background-color: #9fc5f8;
}
.navbar{
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
    text-align:center;
}
.navbar li{
    display: inline-block;
    position: relative;
}
.navbar a{
    display: block;
    padding: 10px;
    font-family: 'Open Sans';
    font-size: large;
}
.navbar li a:hover{
    color: #c00;
}
.nav-separator{
    display: inline;
    border-right: 1px solid #000;
}
.dropdown{
    visibility: hidden;
    opacity: 0;
    display: none;
}
.navbar li:hover > ul{
    position: fixed;
    visibility: visible;
    opacity: 1;
    display: block;
    background-color: #9fc5f8;
}
.navbar li:hover > ul li{
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
    min-width: 15em;
    text-align: left;
}
.section{
    margin-top: 0.1%;
    min-height: 80vh;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    background-color: #8e7cc3;
}
.sub-section{
    margin-bottom: 2%;
    content: "";
    clear: both;
    display: table;
}
.subsection-img{
    float: left;
    padding-right: 4%;
    max-width: 100%;
    height: auto;
}
.subsection-img img{
    max-width: inherit;
}
.subsection-text{
    color: #fff;
    font-family: 'Open Sans';
    font-size: medium;
}
.blue-text{
    color: #00f;
    text-decoration: underline;
}
.section-text{
    display: block;
    color: #fff;
    font-family: 'Open Sans';
}