.container{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    font-family: 'Open Sans';
}
.navigation-container{
    border: 3px solid #000;
    border-radius: 20px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.navbar{
    min-height: 4em;
}
.nav-logo{
    float: left;
}
.nav-logo a img{
    max-height: 4em;
    width: auto;
}
.nav-name{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
.section{
    padding-top: 2%;
}
.sidelinks-container{
    float: left;
    border: 3px solid #000;
    border-radius: 20px;
    width: 30%;
    min-height: 32em;
    max-height: 32em;
}
.sidelink{
    font-size: larger;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
    white-space: nowrap;
}
.sidelink a:hover, .sidelink a:focus{
    color: #080;
}
.sidelink a:visited{
    color: #f00;
}
.intro-container{
    float: right;
    border: 3px dashed #000;
    border-radius: 20px;
    width: 65%;
    min-height: 32em;
    max-height: 32em;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 3%;
}
.intro-heading{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 1em;
}
.intro-section{
    max-height: 20em;
    overflow: auto;
}
.intro-section p{
    padding-bottom: 1em;
}
.about-container{
    margin-top: 2%;
    border: 3px solid #000;
    border-radius: 20px;
    width: 100%;
    min-height: 70vh;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 3%;
}
.about-header{
    padding-bottom: 2em;
}
.about-heading{
    font-size: xx-large;
    font-weight: bold;
}
.about-text{
    float: left;
    min-height: 25vh;
    max-height: 50vh;
    max-width: 50vw;
    padding-right: 3%;
    overflow: auto;
}
.about-text p{
    padding-bottom: 1em;
}
.thick-text{
    font-weight: bold;
}
.red-text{
    color: #f00;
}
.blue-text{
    text-decoration: underline;
    color: #483d8b;
}
.about-img{
    float: right;
    margin: auto;
    width: 30%;
    height: auto;
}
.about-img img{
    min-width: 90%;
}
.contact-container{
    margin-top: 2%;
    border: 3px solid #000;
    border-radius: 20px;
    width: 100%;
    min-height: 70vh;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 3%;
}
.contact-header{
    padding-bottom: 2em;
}
.contact-heading{
    font-size: xx-large;
    font-weight: bold;
}
.address-box{
    display: block;
    margin: auto;
    text-align: center;
    width: 70%;
    min-height: 90%;
    padding-top: 2%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
    background: #ccc url("../img/logo.png") no-repeat center;
    background-blend-mode: soft-light;
    background-size: contain;
}
.address-heading{
    font-size: larger;
    font-weight: bold;
    padding-bottom: 4%;
}
.address-text{
    padding-bottom: 5%;
}
.address-text span{
    font-size: larger;
    display: block;
    padding-bottom: 3%;
    color: #000;
}
.address-link a{
    color: #080;
}
