.container{
    padding: 2%;
    margin-left: 15%;
    margin-right: 15%;
    font-family: "Arial", sans-serif;
}
.resume{
    border: 10px solid #ff8000;
    padding: 50px;
}
.details{
    display: inline-block;
    width: 100%;
    padding: 2%;
    
}
.image-wrapper img {
    float: right;
    width: 140px;
    height: 200px;
}
.label{
    display: inline-block;
    width: 30%;
}
.value{
    display: inline-block;
}
.super{
    vertical-align: super;
    font-size: 50%;
}
.personal-section,
.education-section,
.work-section{
    border-bottom: 5px solid #c0504d;
    
}
.education-header,.personal-header,
.work-header,.organisation-header{
    display: block;
    padding-top: 10px;
}
.od-content {
    padding: 2%;
}
.list-wrapper{
    display: block;
}
.list-left,.list-right{
    display: inline-block;
    padding-bottom: 2%;
}
.lrc-wrapper{
    display: block;
}
.lrc-left,.lrc-right{
    display: inline-block;
}
.lrc-left{
    width: 30%;
}
.list-left{
    width: 30%;
}
.list{
    list-style-type: disc;
}
.organisation-body > .details > ul {
    list-style-type: disc;
}
h2{
    font-size: xx-large;
    font-weight: bold;
}
span{
    font-size: x-large;
}
.personal-section,
.education-section,
.work-section,.organisation-section{
    padding-top: 2%;
}