.container {
    font-family: 'Open Sans';
}
.navbar {
    position: relative;
    display: inline-block;
    padding-top: 1.3%;
    padding-bottom: 1.3%;
    min-width: 100%;
    background-color: #888;
    border: 2px solid #000;
}
.nav-title {
    float: left;
    padding-left: 10%;
}
.nav-buttons {
    display: inline;
    position: relative;
    left: 20%;
    text-align: center;
}
.nav-link {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    display: inline;
    border: 2px solid #000;
    background-color: #fff;
    text-align: center;
}
.nav-link:hover {
    background-color: #00bfff;
}
.nav-login {
    float: right;
    padding-right: 10%;
}
.section {
    margin-top: 3%;
    margin-bottom: 3%;
}
.slider-container {
    width:  60%;
    height: 250px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    border: 2px solid #000;
    overflow: hidden;
}
#slider {
    overflow: hidden;
}
#slider figure {
    position: relative;
    width:  100%;
    margin:  0;
    left:  0;
    animation: 3s slider infinite;
}
#slider figure img {
    float: left;
    width:  100%;
}
@keyframes slider {
    0% {
        left:  0;
    }
    25% {
         left: 0%;
    }
    50% {
        left: -100%;
    }
    75% {
        left: -100%;
    }
    100% {
        left:  -200%;
    }
}
.sub-section {
    margin-top: 3%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 85%;
    position: relative;
    display: block;
}
.banner {
    float: left;
    padding: 2%;
    border: 2px solid #000;
}
.events {
    display: inline-block;
    padding: 2%;
    border: 2px solid #000;
}
.banner-heading {
    margin-bottom: 3%;
    font-size: large;
    font-weight: bold;
}
.content-img img {
    float: left;
    height: 50px;
    width: 50px;
}
.content-text {
    clear: both;
    float: right;
    padding: 1%;
}
.event-contact {
    background-color: #888;
    width: fit-content;
    padding-bottom: 10%;
    margin-bottom: 10%;
    border: 2px solid #000;
    box-shadow: 5px 6px 6px #000;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.fe-heading {
    font-size: larger;
    font-weight: bold;
    padding: 2%;
}
.fe-subheading {
    font-weight: bold;
    font-size: medium;
    padding: 2%;
}
.fe-item {
    padding-left: 2%;
    padding-bottom: 2%;
}
.fe-item a {
    color: #000;
}
.pe-heading {
    padding: 2%;
    font-size: larger;
    font-weight: bold;
}
.pe-box {
    border: 2px solid #000;
    padding: 2%;
}
.pe-link a {
    color: #000;
    text-decoration: none;
    margin-bottom: 5%;
}
.pe-link img {
    float: right;
    height: 15px;
    width: 15px;
}
.footer {
    display: block;
    border-top: 2px solid #000;
}
.row {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
}
.column {
    float: left;
    width: 25%;
    padding: 2%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.fl-title {
    font-size: large;
    font-weight: bold;
    padding-bottom: 15%;
}
.fl-link {
    padding-bottom: 10%;
}
.fl-link a img {
    height: 40px;
    width: 40   px;
    padding: 2%;
}
.footer-links {
    margin-left: 10%;
    margin-right: 10%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.f-link {
    float: left;
    width: 20%;
    padding: 2%;
}
.f-button {
    float: right;
    margin: 1%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 2px solid #000;
    border-radius: 50px;
}
.footer-links:after {
    content: "";
    display: table;
    clear: both;
}
.footer-copyright {
    padding: 2%;
    text-align: center;
}