.header{
    padding-top: 2%;
    padding-left: 1%;
    background-color: #0ff;
}
.header-heading{
    padding-bottom: 2%;
    font-size: x-large;
    font-weight: bold;
}
.left-section{
    float: left;
    width: 75%;
    min-height: 26em;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    background-color: #0f0;
}
.top-left, .bottom-left{
    padding-left: 1%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    background-color: #fff;
}
.bottom-left{
    margin-top: 2%;
}
.left-heading{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: large;
    font-weight: bold;
}
.left-text{
    font-size: small;
}
.right-section{
    float: right;
    width: 25%;
    min-height: 26em;
    padding-left: 1%;
    padding-top: 2%;
    padding-right: 1%;
    padding-bottom: 2%;
    background-color: #ff69b4;
}
.right-heading{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: medium;
    font-weight: bold;
}
.right-text{
    font-size: small;
}