body {
    margin: 0;
    padding-top: 2%;
    background-color: #eeeeee;
  }
  
  .grid {
    width: 70vw;
    height: auto;
    background-color: #fff;
    margin: auto;
    padding: 2% 2% 1% 2%;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
    position: relative;
  }
  
  .grid h1 {
    font-family: serif;
    background-color: #57636e;
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    padding: 1% 0%;
    border-radius: 50px;
  }
  
  hr {
    margin: 2% 2%;
  }
  
  #score {
    color: #5A6772;
    text-align: center;
    font-size: 30px;
    min-height: 30vh;
    padding: 10%;
  }
  
  .grid #question {
    padding: 2%;
    font-family: monospace;
    font-size: 40px;
    color: #5A6772;
  }
  
  #btn0,
  #btn1,
  #btn2,
  #btn3,
  #btn4,
  #btn5,
  #btn6,
  #btn7 {
    background-color: #778897;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 2%;
    padding: 1%;
  }
  
  #btn0:hover,
  #btn1:hover,
  #btn2:hover,
  #btn3:hover,
  #btn4:hover,
  #btn5:hover,
  #btn6:hover,
  #btn7:hover {
    cursor: pointer;
    background-color: #57636e;
  }
  
  #btn0:focus,
  #btn1:focus,
  #btn2:focus,
  #btn3:focus,
  #btn4:focus,
  #btn5:focus,
  #btn6:focus,
  #btn7:focus {
    outline: 0;
  }
  img {
    height: 200px;
    width: 200px;
  }