.container{
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
.top-row{
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    height: 75%;
}
.top-left{
    float: left;
    padding-right: 1%;
    min-width: 25%;
    height: 100%;
}
.tl-top{
    display: block;
    height: 45%;
    min-width: 100%;
    background-color: #fef9e6;
}
.tl-bottom{
    display: block;
    position: relative;
    top: 10%;
    height: 45%;
    min-width: 100%;
    background-color: #fef9e6;
}
.top-right{
    float: right;
    min-width: 75%;
    height: 100%;
    background-color: #ec4938;
}
.bottom-row{
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    min-height: 25%;
    width: 100%
}
.bottom-left{
    display: block;
    float: left;
    padding-right: 1%;
    min-width: 25%;
    height: 100%;
    background-color: #409cc5;
}
.bottom-middle{
    display: block;
    margin-left: 25%;
    width: 70%;
    height: 100%;
    background-color: #fef9e6;
}
.bottom-right{
    float: right;
    min-width: 5%;
    height: 100%;
}
.br-top{
    display: block;
    min-width: 100%;
    height: 50%;
    background-color: #fef9e6;
}
.br-bottom{
    display: block;
    position: relative;
    top: 10%;
    margin-block-end: 0%;
    min-width: 100%;
    height: 50%;
    background-color: #ff0;
}
