.container {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: col;
}

.border-right {
    border-right: 5px solid black;
}

.border-bottom {
    border-bottom: 10px solid black;
}

.border {
    border-style: solid;
    border-width: 5px;
}

.line-in-middle {
    width:400px;
    height:200px;
	background: linear-gradient(to right, 
	                            transparent 0%, 
	                            transparent calc(50% - 0.81px), 
	                            black calc(50% - 0.8px), 
	                            black calc(50% + 0.8px), 
	                            transparent calc(50% + 0.81px), 
	                            transparent 100%); 
}