.container {
	width: 80vw;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 2%;
}
.header {
	background-color: yellow;
	text-align: center;
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.heading {
	font-size: larger;
}
.section {
	background-color: pink;
	width: 100%;
	padding-top: 2%;
}
.section-heading {
	font-size: large;
	text-align: center;
	padding-bottom: 2%;
}
.form-container {
	position: relative;
	padding-left: 5%;
	padding-bottom: 2%;
}
.grid-row {
	display: table-row;
}
.grid-left {
	float: left;
	display: table-column;
	padding-top: 5%;
	padding-bottom: 5%;
}
.grid-right {
	float: right;
	display: table-column;
	padding-top: 5%;
	padding-bottom: 5%;
}
form > input {
	position: relative;
	left: 50%;
	padding: 1%;
}
table, th, td {
	border: 1px solid #000;
	background-color: #fff;
}
table {
	width: 100%;
	border-collapse: collapse;
}